aside {
  width: 260px;
  flex: 0 0 auto;
  background-color: #242939;

  .aside-brand {
    height: 75px;
    text-align: center;
    line-height: 75px;
    border-bottom: 1px solid #e9ecef1a;

    a {
      font-size: 1.3rem;
      color: #e9ecef;
      text-transform: uppercase;
      letter-spacing: 0.25rem;
      text-decoration: none;

      &:hover {
        text-decoration: none;
      }
    }
  }

  .aside-menu-wrapper {
    flex: 1 0 auto;

    .aside-menu {
      margin: 15px 0;
      height: 1135px;

      ul {
        margin: 0;
        list-style: none;
        padding: 15px 0;

        li {
          display: flex;
          flex-direction: column;
          flex-grow: 1;
          float: none;
          padding: 0;
          position: relative;
          margin: 0;
          transition: background-color 0.3s;

          .selected {
            background-color: #1f2433;
          }

          .menu-link-icon {
            flex: 0 0 30px;
            font-size: 1.5rem;
            display: flex;
            align-items: center;
            line-height: 0;
          }



          .menu-link-title {
            font-weight: 400;
            font-size: 1.2rem;
            text-transform: initial;
            display: flex;
            align-items: center;
            flex-grow: 1;
            padding: 0;
          }

          .menu-link, .menu-link-selected {
            padding: 9px 30px;
            cursor: pointer;
            height: 44px;
            display: flex;
            flex-grow: 1;
            align-items: stretch;
            margin: 0;
            text-decoration: none;
            position: relative;
            outline: none;
          }

          .menu-link-selected {
            .menu-link-title {
              color: #fff;
            }
            .menu-link-icon {
              color: #5867dd;
            }
            background-color: #1f2433;
          }

          .menu-link {

            .menu-link-title {
              color: #c0c4d1;
            }
            .menu-link-icon {
              color: #434d6b;
            }

            &:hover {
              i {
                color: #5867dd;
              }

              span {
                color: #fff;
              }

              background-color: #1f2433;
            }
          }


        }
      }
    }
  }


}