.missing-vocabularies {
  display: flex;
  flex-flow: column;
  flex-wrap: wrap;

  span {
    padding-left: 5px;
    padding-right: 5px;
    font-weight: bold;
  }

  .dataset-section {
    margin-bottom: 2rem;
    margin-top: 2rem;
  }

}

.named-graphs {
  ul, li {
    list-style: none;
  }
}
