.btn-up {
  margin-bottom: 0.3rem;
  width: 80px;
}

.close {
  font-size: 1.5rem;
  color: darkred;
}

.is-invalid {
  border-color: #fd397a;
  padding-right: 2.8rem;
  background-repeat: no-repeat;
  background-position: center right calc(2.8rem / 4);
  background-size: calc(2.8rem / 2) calc(2.8rem / 2);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23fd397a' viewBox='-2 -2 7 7'%3e%3cpath stroke='%23d9534f' d='M0 0l3 3m0-3L0 3'/%3e%3ccircle r='.5'/%3e%3ccircle cx='3' r='.5'/%3e%3ccircle cy='3' r='.5'/%3e%3ccircle cx='3' cy='3' r='.5'/%3e%3c/svg%3E");
}

.graph-stats {
  ul {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }

  li.graph-name {
    font-size: 1.1rem;
    font-weight: bold;
    list-style: none;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }
}
