$body-bg: #fff;

// Import Bootstrap and its default variables
@import '../node_modules/bootstrap/scss/bootstrap';

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 13px;
  font-weight: 300;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #f2f3f8;
}

#root {
  min-height: 100vh;
}

.wrapper {
  min-height: 100vh;
  display: flex;
}

.content-wrapper {
  max-width: 100%;
  flex: 1 auto;
  display: flex;
  flex-direction: column;

  .content-header {
    width: 100%;
    position: static;
    left: 260px;
    top: 0;
    box-shadow: 0 0 40px 0 rgba(82,63,105,0.1);
    height: 75px;
    background-color: #fff;
  }

  .content {

    .content-sub-header {
      flex: none;
      display: flex;
      justify-content: space-between;
      align-items: stretch;
      flex-wrap: wrap;
      padding: 20px 25px;
      margin: 0;

      .left-side {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        padding: 0;
        height: 35px;
      }
    }

    .card {
      height: calc(100% - 20px);
      display: flex;
      flex-grow: 1;
      flex-direction: column;
      box-shadow: 0 0 13px 0 rgba(82,63,105,0.05);
      background-color: #fff;
      margin-bottom: 20px;
      border-radius: 4px;
      border: none;
    }

    .card-head {
      display: flex;
      align-items: stretch;
      justify-content: space-between;
      position: relative;
      padding: 0 25px;
      // border-bottom: 1px solid #ebedf2;
      min-height: 60px;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      transition: left 0.3s, right 0.3s, height 0.3s;

      small {
        font-weight: 300;
        padding-left: 0.5rem;
        font-size: 1rem;
        color: #a1a8c3;
        cursor: default;
      }
    }

    .card-head-label {
      display: flex;
      align-items: center;
    }



    .card-body {
      flex-grow: 1;
      height: 100%;
      flex-direction: row;
      width: 100%;
      padding: 25px;
      border-radius: 4px;
      display: flex;
    }

    .dataset {
      border: 1px solid #a1a6d5;
    }
  }
}

.form-control {
  display: block;
  width: 100%;
  height: calc(2.8rem + 2px);
  padding: .65rem 1rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ebedf2;
  border-radius: .25rem;
  transition: border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out,-webkit-box-shadow 0.15s ease-in-out;

  &:focus {
    color: #495057;
    background-color: #fff;
    border-color: #9aabff;
    outline: 0;
    box-shadow: none;
  }
}

.title {
  margin: 0;
  padding: 0 1.5rem 0 0;
  font-size: 1.2rem;
  font-weight: 600;
  color: #434349;
  line-height: 1.2;
  cursor: default;
}

.column-bottom {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.alert {
  display: flex;
  align-items: stretch;
  padding: 1rem 2rem;
  border-radius: 3px;
  margin: 0 0 20px 0;


  .alert-danger {
    background: #e20700;
    border: 1px solid #e20700;
    color: #111;
  }

  .alert-icon {
    display: flex;
    align-items: center;
    padding: 0 1.25rem 0 0;
  }

  .alert-text {
    align-self: center;
    flex-grow: 1;
  }

  .alert-close {
    padding: 0 0 0 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    i {
      color: #000;
      cursor: pointer;
    }
  }

}

.fade {
  transition: opacity 0.15s linear;
}

.font-sans-serif {
  font-family: sans-serif
}

.pagination-box {
  padding: 25px 25px 0;
  display: flex;

  option {
    &:focus {
      outline: none;
    }
  }

  .pagination-count {
      display: inline-block;
      margin-left: 3rem;
  }
}

.content-to-end {
  display: flex;
  justify-content: flex-end;
}
